/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.document-row:hover {
  background-color: rgba(167, 139, 250, 0.3) !important; /* Purple with opacity */
}

.document-row-selected {
  background-color: rgba(249, 115, 22, 0.7) !important; /* Orange with opacity */
  color: white !important;
}

.suggested-claims {
    /* Example styles */
    margin-top: 20px;
}

.suggested-claims table {
    width: 100%;
    border-collapse: collapse;
}

.suggested-claims th, .suggested-claims td {
    padding: 12px;
    border: 1px solid #e5e7eb; /* Tailwind's gray-200 */
}

.suggested-claims th {
    background-color: #f9fafb; /* Tailwind's gray-50 */
    text-align: left;
}

.suggested-claims .top-match {
    background-color: #dcfce7; /* Tailwind's green-100 */
    color: #047857; /* Tailwind's green-800 */
    padding: 16px;
    border-radius: 8px;
}